<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clean Code</title>
    <link rel="stylesheet" href="stylesheets/estilos.css">
    <link rel="stylesheet" href="stylesheets/mini-default.min.css">
</head>
<body>
    <% include ./partials/encabezado%>
    <div class="container">
        <h1>Ruleta</h1>
        <p>Resultado Apuestas</p>
        <div>
            <div>
                <% if (message && message.length > 0) { %>
                <h4><span class="icon-info"></span>
                    <%=message%></h4>
                <%console.log(message) } %>
                <table class="tabla">
                    <tr>
                        <th>id_apuesta</th>
                        <th>numero</th>
                        <th>color</th>
                        <th>dinero_apostado</th>
                        <th>estado_apuesta</th>
                        <th>premio</th>
                    </tr>
                    <% data.forEach(dat => {console.log(dat.id); %>
                    <tr>
                        <td><%=dat.id%></td>
                        <td><%=dat.numero%></td>
                        <td><%=dat.color%></td>
                        <td><%=dat.dinero_apostado%></td>
                        <td><%=dat.estado_apuesta%></td>
                        <td><%=dat.premio%></td>
                    </tr>
                    <%})%>
                </table>
            </div>
        </div>
    </div>
    <% include ./partials/pie %>
    <script src="javascripts/script.js"></script>
</body>
</html>